* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* font family */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

/* header navbar */
.container {
  width: 85%;
  max-width: 1140px;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .logo h2 {
  font-size: 45px;
  font-weight: 800;
}
nav .logo h2 .orange-color {
  color: #fd6e0a;
}
nav .menu ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 51px;
}
.menu li a {
  text-decoration: none;
  padding: 18px 0;
  font-size: 20px;
  color: #474747;
  transition: all 0.3s;
}
.menu li a:hover {
  color: #fd6e0a;
}

/* btn */
.btn {
  font-size: 20px;
  font-weight: 500;
  color: white;
  padding: 18px 35px;
  border-radius: 5px;
  border: none;
  background: #fd6e0a;
  cursor: pointer;
  transition: 0.3s all;
}
.btn:hover {
  background: #fd6f0aaf;
}
.btn:active {
  background: #fd6f0a;
  transform: translateY(3px);
}

.btn-contact {
  font-size: 20px;
  font-weight: 600;
  margin-left: 30px;
  color: #fd6e0a;
  padding: 17px 35px;
  border-radius: 5px;
  border: 2px solid #fd6e0a;
  background: transparent;
  cursor: pointer;
  transition: 0.3s all;
}
.btn-contact:hover {
  background: #fd6f0a23;
  /* color: #474747; */
}
.btn-contact:active {
  background: transparent;
  transform: translateY(3px);
}

/* hero banner  */
header {
  padding-top: 50px;
  background: url(../images/developer.png), url(../images/header_bg.png),
    #fff8f3;
  background-repeat: no-repeat;
  background-position: 23px 38px, right bottom;
}

#banner {
  margin: 66px 41px 0 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#banner .banner-content {
  max-width: 585px;
}
#banner .banner-content h2 {
  font-size: 44px;
  color: #474747;
  margin-bottom: 5px;
}
#banner .banner-content h1 {
  font-size: 65px;
  color: #000;
  /* margin-bottom: 5px; */
}
#banner .banner-content .mb {
  font-size: 44px;
  color: #474747;
  margin-bottom: 20px;
  line-height: 30px;
}
#banner .banner-content p {
  font-size: 18px;
  color: #757575;
  margin-bottom: 30px;
}

/* IMG */
#banner .banner-image {
  max-width: 585px;
}
#banner .banner-image img {
  width: 100%;
  vertical-align: middle;
}

/* ///////////// section about ///////////// */

#about,
#skill,
#resume {
  padding-top: 130px;
}

.section-about {
  padding: 131px 157px;
  text-align: center;
  background: #fff8f3;
}

.section-heading h2 {
  font-size: 35px;
  margin-bottom: 30px;
}
.section-heading p {
  font-size: 18px;
  color: #757575;
  line-height: 30px;
  margin-bottom: 30px;
}
.about-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  line-height: 30px;
}
.info-card p {
  font-size: 20px;
  color: #757575;
}
.info-card h4 {
  font-size: 20px;
  color: #474747;
}

/* //////////// skills //////////////// */

.skill-content {
  padding: 0px 156px 50px 156px;
  text-align: center;
}

.section-skills .skill-box {
  display: flex;
  gap: 24px;
}

.section-skills .skill-card {
  padding: 30px;
  box-shadow: 0 6px 50px #0000001e;
}

.section-skills .skill-card img {
  max-width: 44px;
  margin-bottom: 30px;
}

.section-skills .skill-card h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.section-skills .skill-card p {
  font-size: 16px;
  line-height: 28px;
  color: #757575;
}

/* //////////// resume //////////////// */

.section-resume {
  display: flex;
  gap: 71px;
  margin-top: 113px;
}

.section-resume hr {
  margin: 30px 0px;
}
.resume-title h2 {
  font-size: 30px;
  color: #474747;
  margin-bottom: 30px;
}
.resume-card h3 {
  font-size: 25px;
  color: #474747;
}
.resume-card p {
  font-size: 20px;
  color: #757575;
  margin: 10px 0px 20px;
}
.resume-card h3 {
  font-size: 16px;
  color: #474747;
  line-height: 28px;
}

.align-center-1 {
  text-align: center;
}
.align-center {
  text-align: center;
  margin-top: 50px;
}

/* /////////
footer
/////////// */

#footer {
  margin-top: 113px;
  background: #fff8f3;
}

.section-footer {
  padding: 130px 0;
  display: flex;
  gap: 117px;
}

.footer-content .icon i {
  margin-right: 24px;
  font-size: 20px;
  color: #fd6e0a;
}
form input,
form textarea {
  padding: 18px 30px;
  width: 100%;
  margin-bottom: 20px;
  font-size: 16px;
  color: #757575;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: all 0.3s;
}

form input:focus,
form textarea:focus {
  border-color: #fd6e0a;
  box-shadow: 0 0 0 3px rgba(253, 110, 10, 0.25);
}
form textarea::placeholder {
  font-size: 20px;
}
