* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* font family */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

/* header navbar */
.container {
  width: 85%;
  max-width: 1140px;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .logo h2 {
  font-size: 45px;
  font-weight: 800;
}
nav .logo h2 .orange-color {
  color: #fd6e0a;
}
nav .menu ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 51px;
}
.menu li a {
  text-decoration: none;
  padding: 18px 0;
  font-size: 20px;
  color: #474747;
  transition: all 0.3s;
}
.menu li a:hover {
  color: #fd6e0a;
}

/* btn */
.btn {
  font-size: 20px;
  font-weight: 500;
  color: white;
  padding: 18px 35px;
  border-radius: 5px;
  border: none;
  background: #fd6e0a;
  cursor: pointer;
  transition: 0.3s all;
}
.btn:hover {
  background: #fd6f0aaf;
}
.btn:active {
  background: #fd6f0a;
  transform: translateY(3px);
}

.btn-contact {
  font-size: 20px;
  font-weight: 600;
  margin-left: 30px;
  color: #fd6e0a;
  padding: 17px 35px;
  border-radius: 5px;
  border: 2px solid #fd6e0a;
  background: transparent;
  cursor: pointer;
  transition: 0.3s all;
}
.btn-contact:hover {
  background: #fd6f0a23;
  /* color: #474747; */
}
.btn-contact:active {
  background: transparent;
  transform: translateY(3px);
}

/* hero banner  */
header {
  padding-top: 50px;
  background: url(../images/developer.png), url(../images/header_bg.png),
    #fff8f3;
  background-repeat: no-repeat;
  background-position: 23px 38px, right bottom;
}

#banner {
  margin: 66px 41px 0 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#banner .banner-content {
  max-width: 585px;
}
#banner .banner-content h2 {
  font-size: 44px;
  color: #474747;
  margin-bottom: 5px;
}
#banner .banner-content h1 {
  font-size: 65px;
  color: #000;
  /* margin-bottom: 5px; */
}
#banner .banner-content .mb {
  font-size: 44px;
  color: #474747;
  margin-bottom: 20px;
  line-height: 30px;
}
#banner .banner-content p {
  font-size: 18px;
  color: #757575;
  margin-bottom: 30px;
}

/* IMG */
#banner .banner-image {
  max-width: 585px;
}
#banner .banner-image img {
  width: 100%;
  vertical-align: middle;
}

/* ///////////// section about ///////////// */

#about,
#skill,
#resume {
  padding-top: 130px;
}

.section-about {
  padding: 131px 157px;
  text-align: center;
  background: #fff8f3;
}

.section-heading h2 {
  font-size: 35px;
  margin-bottom: 30px;
}
.section-heading p {
  font-size: 18px;
  color: #757575;
  line-height: 30px;
  margin-bottom: 30px;
}
.about-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  line-height: 30px;
}
.info-card p {
  font-size: 20px;
  color: #757575;
}
.info-card h4 {
  font-size: 20px;
  color: #474747;
}
